#ops-col {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

#img-col {

}

#img-col:first-child {
    width: 100%;
    height: 100%;
    /*background-image: linear-gradient(
            to right,
            white, transparent 20%
    );*/
    background-color: hsla(0, 80%, 70%, 0.9);
    z-index: 1;
}

#img-col img {
    z-index: -1;
}

h1 {
    font-size: 5em;
}

p {
    font-size: 1.3em;
}

@media (max-width: 768px) {
    /*TODO center "ooops" text on mobile */
}