html,body {
    height:100%;
}

.banner-primary {
    display: flex;
    position: relative;
    height: 66vh;
    min-height: 400px;
    background-size: cover;
    background-position: center;
}

.banner-primary .gradient-layer {
    flex: 1;
    background-image: linear-gradient(
        to top,
        black, transparent 60%
    );
}

.banner-primary h1 {
    color: white;
    position: absolute;
    left: 40px;
    bottom: 20px;
    text-align: center;

}

#eventBook {
    height: 20em;
    border-bottom: 0;
    box-shadow: 0 10px 6px -6px black;
}

#eventBookLink {
    border: 1px solid rgba(212, 212, 212, 1);
}

#descriptionCol a {
    color: black;
    font-style: italic;
}

#mapid {
    margin: 50px;
    min-height: 320px;
    /*background-color: burlywood;*/
}