.banner-primary {
    display: flex;
    position: relative;
    height: 50vh;
    min-height: 400px;
    background-size: cover;
    background-position: center;
}

.banner-primary .gradient-layer {
    flex: 1;
    background-image: linear-gradient(
            to top,
            black, transparent 60%
    );
}

.banner-primary h1 {
    color: white;
    position: absolute;
    left: 40px;
    bottom: 20px;
    text-align: center;

}

.event-display {
    margin: 3em 0;
}

.event-container {
    border: 1px solid rgb(212, 212, 212);
}

.event-container .row {
    height: 100%;
}

.event-image {
    background-position: center;
    background-size: cover;
}

.event-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.relatedBook-container {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.relatedBook-container img {
    height: 9em;
    border: 1px solid rgba(212, 212, 212, 1);
    border-bottom: 0;
    box-shadow: 0 10px 6px -6px black;

}

.bookTitle-text {
    font-weight: bold;
    margin: 1em 0 0 0;
}

.bookAuthor-text {
    font-style: italic;
    margin: 0;
}

@media (max-width: 768px) {
    .event-container .row {
        flex-direction: column;
    }
}