html,body {
    height:100%;
}

#small-genre-box {
    flex-wrap: wrap;
}

.small-genre-card {
    display: flex;
    flex: 1 1 40%;
    align-items: center;
    height: 9em;
    border: 1px solid rgb(212, 212, 212);
}

.small-genre-card p {
    font-style: italic;
}

#novel-box {
    background-color: hsla(0, 80%, 61%, 0.9);
}

#biography-box {
    background-color: hsla(0, 80%, 63%, 0.9);
}

#fable-box {
    background-color: hsla(0, 80%, 66%, 0.9);
}

#storiography-box {
    background-color: hsla(0, 80%, 69%, 0.9);
}

#diary-box {
    background-color: hsla(0, 80%, 72%, 0.9);
}

#prova-box {
    background-color: hsla(0, 80%, 75%, 0.9);
}