html,body {
    height:100%;
}

.under-navbar {
    height: 7em;
}

.small-genre-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.small-genre-card {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(212, 212, 212);
}

.small-genre-card p {
    font-style: italic;
}

.small-genre-list {
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: column;*/
}

.small-genre-list a {
    color: black;
    text-decoration: none;
    font-weight: lighter;
    flex-basis: 50%;
}

.small-genre-list a:hover {
    color: #e5e5e5;
}

#novel-box {
    background-color: hsla(0, 80%, 61%, 0.9);
}

#biography-box {
    background-color: hsla(0, 80%, 63%, 0.9);
}

#fable-box {
    background-color: hsla(0, 80%, 66%, 0.9);
}

#storiography-box {
    background-color: hsla(0, 80%, 69%, 0.9);
}

#diary-box {
    background-color: hsla(0, 80%, 72%, 0.9);
}

#prova-box {
    background-color: hsla(0, 80%, 75%, 0.9);
}