/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    bottom: 3rem;
}

.carousel-caption p {
    font-size: 20px;
}

.carousel-item {
    background-color: #777;
    height: 90vh;
}

#eventCarousel0 {
    background:linear-gradient(rgba(97, 98 ,116 , .5), rgba(97, 98 ,116 , .5)), url('../images/events/bulgakov-event.jpg');
}

#eventCarousel1 {
    background:linear-gradient(rgba(97, 98 ,116 , .5), rgba(97, 98 ,116 , .5)), url('../images/events/prova-evento.jpeg');
}

#eventCarousel2 {
    background:linear-gradient(rgba(97, 98 ,116 , .5), rgba(97, 98 ,116 , .5)), url('../images/events/feltrinelli1.jpg');
}

.carousel-image {
    background-size: cover !important;
    background-position: center !important;
    background-position-x: 0 !important;
    background-position-y: 0 !important;
    top: 0;
    left: 0;
    min-height: 90vh !important;
}


.carousel-caption h3 {
    color: #fff !important;
}

#carouselEvents {
    margin-bottom: 0;
}

#bestseller .container {
    padding-top: 0;
    min-width: 100%;
    padding-left: 10% !important;
    padding-right: 10% !important;
}

#bestseller a {
    text-decoration: none;
    color: #2d2d30;
}

#bestseller div {
    border: 0px;
}

.bestseller-el {
    margin: 30px;
}

@media (max-width: 576px) {
    .bestseller-el {
    }
}

.show-btn {
    color: #777777;
}

.show.disabled {
    display: none;
}

@media (max-width: 768px) {

    .carousel-caption {
        display: block !important;
    }

    .carousel-item {
        height: 70vh !important;
    }

    .carousel-image {
        background-size: cover !important;
        background-position: center !important;
        background-position-x: 0 !important;
        background-position-y: 0 !important;
        top: 0;
        left: 0;
        min-height: 70vh !important;
    }

    #bestseller .container {
        padding-left: 20% !important;
        padding-right: 20% !important;
    }
}

@media (max-width: 576px) {

    .carousel-caption {
        display: none !important; /* Hide the carousel text when the screen is small*/
    }

    .carousel-item {
        height: 40vh !important;
    }

    .carousel-image {
        background-size: cover !important;
        background-position: center !important;
        background-position-x: 0 !important;
        background-position-y: 0 !important;
        top: 0;
        left: 0;
        min-height: 40vh !important;
    }


}

@media (min-width: 768px) {
    .bestseller-review .less, .bestseller-review .more{
        display: none;
        padding: 0px !important;
    }

    .bestseller-review .less-txt {
        display: block;
    }
}

@media (min-width: 1080px) {
    .book-image {
        max-width: 80% !important;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .book-image {
        max-width: 60% !important;
    }
}

.bg-2 {
    background: white;
    color: #2d2d30;
}
.bg-2 h3 {color: black;}
.bg-2 p {font-style: italic;}

#bestseller {
    padding: 3em 5em;
}

.container h3 {
    padding-top: 1rem;
}

.card-img {
    width: 50%;
    margin: 10px;
}

/* Events */
#eventsHomepage {
    background: #2d2d30;
    color: #bdbdbd;
    padding: 3em 5em;
}

#eventsHomepage h1 {
    color: white;
}

#eventsHomepage h3 {
    color: black;
}

.event-display {
    margin: 4em 0;
}

.event-container {
    border: 1px solid rgb(212, 212, 212);
}

.event-container .row {
    height: 100%;
}

.event-image {
    background-position: center;
    background-size: cover;
    background-image: url("../images/events/pewdiepie-event.jpg");
}

@media (max-width: 768px) {
    .event-image {
        height: 10em;
    }
}

@media (min-width: 768px) {
    .event-display:nth-child(odd) .event-container,
    .event-display:nth-child(odd) .event-image{
        order: 1;
    }
}

.event-display:nth-child(even) .event-title {
    background-color: #f9f9f9;
}

.event-display:nth-child(odd) .event-title {
    background-color: #c5c5c5;
}

.event-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em 1em;
}

.event-container .row {
    position: relative;
}

.event-container span {
    /* Make clickable the whole "event-container" div */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    z-index: 1;
}

.relatedBook-container {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.relatedBook-container img {
    height: 9em;
    /*border: 1px solid rgba(212, 212, 212, 1);*/
    border-bottom: 0;
    box-shadow: 0 10px 6px -6px black;

}

.bookTitle-text {
    font-weight: bold;
    margin: 1em 0 0 0;
}

.bookAuthor-text {
    font-style: italic;
    margin: 0;
}